
 .clients{
	display: flex;
	justify-content: space-between;
}

.grid-3cols{
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
	gap: 2rem;
	margin-block: 1rem;
}

.article-service{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.article-service img{
	width: 30%;
}

.article-service-title{
	font-weight: 700;
	text-align: center;
}

.grid-2cols{
	display: grid;
	grid-template: 1fr / repeat(2, 1fr);
	gap: 2rem;
	margin-block: 1rem;
}

.article-project{
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
} 
.article-project-title{
	font-weight: 700;
}

.article-team{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
}

.article-team-portrait{
	width: 50%;
	clip-path: circle();
}

.article-team-name{
	font-size: 1.1rem;
	font-weight: 700;
}

.article-team-job{
	font-size: 0.8rem;
	font-weight: 600;
	color: rgb(150 150 150);
}

.article-team-socials{
	display: flex;
	justify-content: center;
	column-gap: 0.5rem;
} 
 .article-team-socials img{
	width: 1.2rem;
}

.article-stat{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
}

.article-stat-number{
	font-size: 2.5rem;
	font-weight: 900;
	color: white;
}

.article-stat-text{
	color: white;
} 
.article-blog{
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}


.article-blog-infos{
	display: flex;
	justify-content: space-between;
} 
.article-blog-infos :where(span, time){
	font-size: 0.8rem;
	color: rgb(150 150 150);
}

.article-blog-title{
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2;
}

.article-blog-text{
	font-size: 0.9rem;
	color: rgb(150 150 150);
} 


