.text-center{
	text-align: center;
}


.article{
	margin: 3rem;
}

.top + :is(.article, .section){
	margin-block-start: 1rem;
}

.article-2cols{
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
}

.article-col-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	row-gap: 1rem;
}

.article-content{
	font-size: 0.8rem;
	color: rgb(150 150 150);
}