.header{
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
	background-image: url(../img/hero.png);
	background-size: cover;
}

.suptitle{
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;
}

.suptitle-light{
	color: white;
}

.subtitle{
	font-size: 1.8rem;
	font-weight: 700;
}

.subtitle-light{
	text-align: center;
	color: white;
}

.subtitle-hero{
	font-size: 3rem;
}